body { /* no . means element type */
     text-align: center; /* text-align centers text AND children */
}

/*modify the elements of the page*/
      
.avatar-container .Player-username {
     font-size: 3em;
     font-family: "papyrus", fantasy;
     color:rgba(64, 0, 0, 0.9);
    }
.about-container .about-markdown{
   background-image: url('https://i.imgur.com/xnZLmtX.jpg');
	width: 100% !important;
        height: 100% !important;
	border: solid;
	border-width: 0.5px;
}

.ratings-container{
	max-width: none !important;
   background-image: url('https://i.imgur.com/bYP6uD7.jpg');
}
.PaginatedTable.game-history-table.clickable-rows{
	background-image: url('https://i.imgur.com/xnZLmtX.jpg');
	width: 100% !important;
        height: 100% !important;
}
	
PaginatedTable.review-history-table.clickable-rows {
	background-image: url('https://i.imgur.com/xnZLmtX.jpg');
	width: 100% !important;
        height: 100% !important;
	border: solid;
	border-width: 0.5px;
}
.container {
    max-width: none !important;
   background-image: url('https://i.imgur.com/AAqvy2Z.png');
}

.date {
        color:rgba(64, 0, 0, 1) !important;
}

.Player-rank{
        color:rgba(64, 0, 0, 1) !important;
}

.board_size {
        color:rgba(64, 0, 0, 1) !important;
}

.game_name {
        color:rgba(64, 0, 0, 1) !important;
}
	
.PlayerIconPlayerIcon-128{
	background-image: url('https://steamuserimages-a.akamaihd.net/ugc/784121940640997581/FF287D3D2B94DD6AED5D5561BC91A98C15012BF0/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
	width: 100% !important;
        height: 100% !important;
 
/*HIDE PARTS*/

.ratings-row {
	display: none !important;
}

.col-sm-4{
	display: none !important;
}

/*library results*/

.library-won-result-vs-stronger{  background-color: RGBA( 220, 20, 60, 1 ) !important; color:black !important;}
.library-won-result-vs-weaker{  background-color: RGBA( 220, 20, 60, 1 ) !important; color:black !important;}
.library-lost-result-vs-weaker {  background-color: RGBA( 0, 0, 139, 1 ) !important; color:black !important;}
.library-lost-result-vs-stronger{  background-color: RGBA( 0, 0, 139, 1 ) !important; color:black !important;}

/* the game history table*/

.library-lost-result-unranked {  color: RGBA( 0, 0, 139, 1 ) !important;}
.library-won-result-unranked { color: RGBA( 220, 20, 60, 1 ) !important;}

/*pie chart

.strong-wins
.strong-losses {   fill:rgba(104, 118, 243, 0.685) !important;}
.weak-wins
.weak-losses*/

/*fonts and solors*/
 
h2 {
	font-family: "papyrus", fantasy;
        color:RGBA( 64, 0, 0, 1 );
}

h3 {
   color: rgba(0, 140, 255, 0.76);
   font-family: "papyrus", fantasy;
  }

h4{
   color: rgba(0, 140, 255, 0.76));
   font-family: "papyrus", fantasy;
}

.camille {
     /*font-family: "Book Antiqua", serif;
     color:RGBA( 0, 0, 0, 1 );*/
	RGBA( 0, 0, 0, 1 )
	font-family: "papyrus", fantasy;
	position: static;
	left:0;
}

p {
        font-size: 1.3em;
	color: rgba(0, 0, 139, 0.99);
        font-family: "Lucida Handwriting", cursive; 
}

/*IMAGES AND SHAPING*/	

span.test{
  display: inline-block;
  padding: 0 10% ;
  color: rgba(0, 140, 255, 0.76);
}

.image {
width: 20%;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
}

.images {
 width: 7%;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
}

/*ANIMATION*/

.about-container h1 {
       color:rgba(0, 140, 255, 0.8);
	/*color:RGBA( 0, 206, 209, 1 );*/
    font-family: "Lucida Handwriting", cursive; 
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scrolling 15s linear infinite;
    -webkit-animation: scrolling 15s linear infinite;
    animation: scrolling 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scrolling {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrolling {
     0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}
