body { /* no . means element type */
     text-align: center; /* text-align centers text AND children */
}
body {
 overflow-y: visible !important;
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

/*modify the elements of the page*/
      
.avatar-container .Player-username {
     font-size: 3em;
     font-family: "papyrus", fantasy;
     color:rgba(64, 0, 0, 0.9);
    }

.ratings-container{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0.7;
}
.PaginatedTable.game-history-table.clickable-rows{
	background-image: url('https://i.imgur.com/xnZLmtX.jpg');
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0);
}
	
PaginatedTable.review-history-table.clickable-rows {
	background-image: url('https://i.imgur.com/xnZLmtX.jpg');
	width: 100% !important;
        height: 100% !important;
	border: solid;
}
.container {
    max-width: none !important;
   background-image: url('https://i.imgur.com/eqfOtZU.png');
}

.about-container .about-markdown{
  background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0);
}

.date {
        color:rgba(64, 0, 0, 1) ;
}

.Player-rank{
        color:rgba(64, 0, 0, 1) ;
}

.board_size {
        color:rgba(64, 0, 0, 1) ;
}

.game_name {
        color:rgba(64, 0, 0, 1) ;
}
	

/*HIDE PARTS*/

.PlayerIcon.PlayerIcon-128{
	display: none !important;
}

.ratings-row {
	display: none !important;
}

.col-sm-12 {
	display: none !important;
}

.col-sm-4{
	display: none !important;
}


/*fonts and solors*/
 
h2 {
	font-family: "papyrus", fantasy;
        color:RGBA( 64, 0, 0, 1 );
}

h3 {
   color: rgba(0, 140, 255, 0.76);
   font-family: "papyrus", fantasy;
  }

h4{
   color: rgba(0, 140, 255, 0.76));
   font-family: "papyrus", fantasy;
}

.camille {
     /*font-family: "Book Antiqua", serif;
     color:RGBA( 0, 0, 0, 1 );*/
	RGBA( 0, 0, 0, 1 )
	font-family: "papyrus", fantasy;
	position: static;
	left:0;
}

p {
        font-size: 1.4em;
	color: rgba(255, 255, 255, 1);
        font-family: "papyrus", fantasy; 
}

/*IMAGES AND SHAPING*/	

span.test{
  display: inline-block;
  padding: 0 10% ;
  color: rgba(0, 140, 255, 0.76);
}

.image {
width: 20%;
border-radius: 1.25em;
margin-left: auto;
margin-right: auto;
}

.images {
 width: 7%;
margin-left: auto;
margin-right: auto;
border-radius: 2.5em;
}

.gif{
 transform: scale(0.5);
margin-left: auto;
margin-right: auto;
margin-center: auto;
}


/*ANIMATION*/

.about-container h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Starting position */
  transform: translateX(100%) translateY(-50%);
  /* Apply animation to this element */	
  animation: scrolling 15s linear infinite;
  z-index: 9999;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWI4OGUxMDhhYTlhNzU2YzkzNWJiNGU1NTYxZTQ0NTM2MzcyZGY5MyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/ZDOjDWFTH3W5MahhwW/giphy.gif);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

/* Move it (define the animation) */
@keyframes scrolling {
  0%   { 
    transform: translateX(100%) translateY(-50%); 		
  }
  100% { 
    transform: translateX(-100%) translateY(-50%); 
  }
}
